.heroBanner {
  background: none;
  padding: 4rem 0 2rem 0;
  text-align: center;
  color: #222;
}

.heroTitle {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #fff;
}

.heroSubtitle {
  font-size: 1.45rem;
  margin-bottom: 2rem;
  color: #eee;
}

.buttonImageWrapper {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.heroImage {
  width: 64px;
  height: 64px;
  object-fit: contain;
}
