.banner {
  background-color: #007acc;
  color: white;
  padding: 12px 20px;
  max-height: 46px;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
}

.link {
  color: #ffe;
  text-decoration: underline;
  cursor: pointer;
}
